@font-face {
    font-family: "fontello";
    src: url("fonts/fontello.eot");
    src: 
    url("fonts/fontello.woff") format("woff"),
    url("fonts/fontello.ttf") format("opentype"),
    url("fonts/fontello.svg#filename") format("svg");
    }
body{
    width: 1200px;
    margin: auto;
    background-color: white;
    font-family: 'fontello', Arial, sans-serif;
}
#cellType
{
    margin-top: 20px;
    width: 100%;
}
#header
{
    background-color: #43e9a7;
    border-radius: 5px 5px 0px 0px;
}
#header img
{
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
    margin-left: 10px;
}
#header p
{
    margin: 0px;
    padding: 0px;
    padding: 15px;
    text-align: left;
    color: white;
    font-size: 19px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    display: inline-block;
}
#content
{
    width: 100%;
    margin: auto;
}
#content ul
{
    margin: 0px;
    padding: 0px
}
#content ul li
{
    margin: 0px;
    padding: 0px;
    list-style-type:  none;
    background-color: rgb(255, 255, 255);
}
input[type="button"]
{
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    margin: auto;
    cursor: pointer;
    display: inline-block;
    border: 4px solid white;
    font-weight: bold;
    font-size: 20px;
}
input[type="button"]:hover
{
    opacity: 0.7;
}
#content ul li:not(:first-child)
{
}
.pilule
{
    width: calc(100% - 10px);
    height: 90px;
    border-left: 5px solid #43e9a7;
    border-right: 5px solid #43e9a7;
    border-bottom: 5px solid #43e9a7;
}
#content ul li
{
    /*margin-top: 2px;*/
}
.pilule .forme
{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    margin-left: 15px;
    margin-top: -42px;
}
.pilule .pilule_config
{
    display: inline-block;
    margin-top: 12px;
    margin-left: 15px;
    border: 1px solid #43e9a7;
    padding: 5px;
    border-radius: 5px;
}
.pilule .pilule_config select
{
    font-size: 20px;
    height: 30px;
}
.pilule .pilule_config input[type="text"]
{
    font-size: 20px;
    height: 24px;
}
.pilule .pilule_config input[type="number"]
{
    font-size: 20px;
    height: 20px;
    margin-top: 5px;
}
input[type="number"]
{
    width: 25px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table tr:first-child
{
    text-align: left !important;
}
table td:first-child
{
    text-align: left !important;
}
table th
{
    padding: 10px;
}
table tr, td, th
{
    border: 10px solid #43e9a7;
    text-align: center;
    border-collapse: collapse;
    font-weight: bold;
}
table tr td:first-child img
{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
table tr td
{
    height: 70px;
}
table tr td:first-child p
{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
}
.quantiteSize
{
    font-size: 28px;
}